{% extends 'layout.html' %}
{% block content %}
	{% if guest.affirmative == null %}
		<h1>Hallo {{ guest.name}}, Bist Du dabei?</h1>
		<p> 
			 <a class="btn btn-lg btn-success" href="/agree" role="button">Zusagen</a>
			 <a class="btn btn-lg btn-danger" href="/refuse" role="button">Absagen</a>
		</p>
	{% elseif guest.affirmative == 1 %}
		<h1>Hallo {{ guest.name}}, Du hast zugesagt, möchtest Du absagen?</h1>
		<p> 
			 <a class="btn btn-lg btn-danger" href="/refuse" role="button">Absagen</a>
		</p>
	{% elseif guest.affirmative == 0 %}
		<h2>Hallo {{ guest.name}},</h2> 
		<p>Du hast abgesagt, möchtest Du zusagen?</p>
		<p> 
			 <a class="btn btn-lg btn-success" href="/agree" role="button">Zusagen</a>
		</p>
	{% endif %}

{% endblock %}