{% extends 'layout.html' %}
{% block content %}
	<p> 
		 <button class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">Einladen</button>
	</p>
	<p>
		<table class="table">
    		<thead>
    			<tr>
					<th>Name</th>
					<th>Link zur Einladung</th>
					<th>Zusage</th>
				</tr>
    		</thead>
    		<tbody>
    			{% for guest in guests %}
    				<tr>
						<td>{{ guest.name }}</td>
						<td>{{ guest.link }}</td>
						<td>{{ guest.affirmative }}</td>
						<td>
							<form method='post' action="/remove" >
								<button type="submit" class="btn btn-danger btn-xs">
	  								<span class="glyphicon glyphicon-trash"></span>
								</button>
								<input type="hidden" name="id" value="{{ guest._id.toString() }}">
							</form>
						</td>
					</tr>
    			{% endfor  %}
    		</tbody>
  		</table>
	</p>
{% endblock %}
{% block modal %}
	{% include "./invite.html" %}
{% endblock%}