{% extends 'layout.html' %}
{% block content %}
	<div class='info'>
		<h2>Wir wollen unsere Hochzeit mit euch feiern!</h2> 
		<p></p>
		<p>Am <strong>20. September 2014 ab 19:00 Uhr </strong> in der <a href='http://www.caipi-colada.de'>Caipi Colada Bar</a> Kanalstraße 2 in Hamburg.</p>

		<p>Ihr seid zu einem leckeren <strong>Karibischen Buffet</strong> und den feinsten <strong>Cocktails</strong> der Stadt eingeladen.</p>

		<p>Bei gefühlten 25 Grad in der Bar sind sommerliche Klamotten die richtige Wahl.</p>
		<br />
		<p>Wenn Ihr Fragen zur Unterbringung habt, helfen wir euch gerne. Bei Bedarf, meldet euch bitte frühzeitig!</p>
		<br />
		<p>
			<strong>Bei Fragen:</strong>
			<br />
			Maike: <a href="mailto:maikenaskowski@gmx.de">maikenaskowski@gmx.de</a> 0176 22 70 44 29 <br/>
			Gregor: <a href="mailto:gregor@meyenberg.de">gregor@meyenberg.de</a> 0151 15 10 72 92<br/>
		</p>
	</div>
	<br />
	<p>
		<img  src="/img/paar.JPG" alt="Das Paar" class="img-circle paar_img" />
	</p>
	


{% endblock %}